body{margin:0px;}

.bgcolor_06c{background: #06c;}/*藍色*/
.bgcolor_090{background: #090;}/*綠色*/
.bgcolor_c00000{background: #c00000;}/*紅色*/
.bgcolor_f44336{background: #f44336;}

.container_0_46vw{	margin-right: 0.46vw; margin-left: 0.46vw;}/*邊界留5px約0.46vw*/
.collection{margin: 0.46vw 0 0 0; border: 1px solid #757575;}/*overwrite materialize class*/

#cellphone{border: 0.5px solid #000000; box-shadow: none;}
#verification{border: 3px solid #c00000;}
#receive_code{border: 0.5px solid #b18fcb; box-shadow: none;}

.div_btn{border-radius: 5px;box-shadow: 1px 1px 1px #999999;}/*自己刻按鈕*/
.div_btn_10{border-radius: 15px;box-shadow: 1px 1px 1px #999999;}


/*字體大小 fs=>font-size*/
.fs_1vw_b{font-size: 1vw; font-weight:bold;}
.fs_1_5vw_b{font-size: 1.5vw; font-weight:bold;}
.fs_2vw_b{font-size: 2vw; font-weight:bold;}
.fs_2_5vw_b{font-size: 2.5vw; font-weight:bold;}
.fs_3vw_b{font-size: 3vw; font-weight:bold;}
.fs_3_5vw_b{font-size: 3.5vw; font-weight:bold;}
.fs_4vw_b{font-size: 4vw; font-weight:bold;}
.fs_4_5vw_b{font-size: 4.5vw; font-weight:bold;}
.fs_5vw_b{font-size: 5vw; font-weight:bold;}
.fs_5_5vw_b{font-size: 5.5vw; font-weight:bold;}
.fs_6vw_b{font-size: 6vw; font-weight:bold;}
.fs_6_5vw_b{font-size: 6.5vw; font-weight:bold;}
.fs_7vw_b{font-size: 8vw; font-weight:bold;}
.fs_5vw_n{font-size: 5vw; font-weight: normal;}
.fs_8vw_n{font-size: 8vw; font-weight: normal;}
.fs_4vw{font-size: 4vw;}
.fs_5vw{font-size: 5vw;}
.fs_6vw{font-size: 6vw;}
.fs_7vw{font-size: 7vw;}

/*字體顏色 fc=font-color*/
.fc_49c782{color:#49c782;}/*淺綠色*/
.fc_a9a6a6{color:#a9a6a6;}/*灰色*/
.fc_757575{color:#757575;}/*深灰色*/
.fc_fff{color: #fff;}
.fc_red{color: red;}

.height_10vw{height: 10vw;}
.height_15vw{height: 15vw;}
.height_20vw{height: 20vw;}
.height_25vw{height: 25vw;}

/*m=>margin;b=>bottom;l=>left;r=>right;t=>top;x=>left&right;y=>top&bottom*/
.mb_4_63vw{margin-bottom: 4.63vw;}
.mb_3vw{margin-bottom: 3vw;}
.mb_5vw{margin-bottom: 5vw;}
.mb_10vw{margin-bottom: 10vw;}
.mr_3vw{margin-right: 3vw;}
.ml_5vw{margin-left: 5vw;}
.mt_0vw{margin-top: 0vw;}
.mt_1vw{margin-top: 1vw;}
.mt_2vw{margin-top: 2vw;}
.mt_3vw{margin-top: 3vw;}
.mt_4vw{margin-top: 4vw;}
.mt_5vw{margin-top: 5vw;}
.mt_6vw{margin-top: 6vw;}
.mt_7vw{margin-top: 7vw;}
.mt_8vw{margin-top: 8vw;}
.mt_9vw{margin-top: 9vw;}
.mt_10vw{margin-top: 10vw;}
.mt_25vw{margin-top: 25vw;}
.mx_2vw{margin-right: 2vw; margin-left: 2vw;}
.mx_3vw{margin-right: 3vw; margin-left: 3vw;}
.mx_11vw{margin-right: 11vw; margin-left: 11vw;}
.my_0_46vw{ margin-top: 0.46vw; margin-bottom: 0.46vw;}/*0.46vw約5px*/
.my_2_77vw{ margin-top: 2.77vw; margin-bottom: 2.77vw;}/*2.77vw約30px*/
.my_4_63vw{ margin-top: 4.63vw; margin-bottom: 4.63vw;}/*4.63vw約50px*/
.my_5vw{margin-top: 5vw; margin-bottom: 5vw;}
.mx_auto{margin: auto;}

/*p=>padding;*/
.pt_1vw{padding-top: 1vw;}
.pt_3_5vw{padding-top: 3.5vw;}
.py_7vw{padding-top: 7vw; padding-bottom: 7vw;}

footer{ width:100%; background:#ff6828; text-align:center; color:#ffffff; padding:1.5%; font-size:10px; position: fixed; left: 0px;
bottom:0px;}
footer a{color:#ffffff;}

.row{margin-bottom: 0px;}/*overwrite materialize class*/
.row .col{padding: 0px;}/*overwrite materialize class*/

.text_center{margin:center;}

.width_20vw{width: 20vw;}
.width_30vw{width: 35vw;}
.width_48_3vw{width: 48.3vw;}
.width_80vw{width: 80vw;}
.width_92_08vw{width: 93vw;}
